
.homeSection {
    display: flex;
    color: white;
    font-family: 'Prompt', sans-serif;
}
.aside-left{
    width: 60%;
    margin-top: 3rem;
}

.aside-left h1 {
    width: 60%;
font-size: 3rem;
font-weight: 400;
text-transform: uppercase;
padding-left: 7rem;
word-spacing: .1rem;
letter-spacing: .2rem;
padding-bottom: 2rem;
}

.aside-left p {
    width: 70%;
 padding-left: 7rem;
    font-size: 18px;
}

.aside-right {
    width: 40%;
    margin-top: 4rem;
}

.aside-right form {
    width: 70%;
    border: none;
    border-radius: 10px;
    margin-left: 6rem;
    color: white;
    background-color: white;
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 100%, rgba(0,212,255,1) 100%);
}
.form-check {
    width: 15px;
    height: 15px;
}
form h4 {
    text-align: center;
    font-size: 18px;
    padding-top: 1rem;
}

form p {
    font-size: 18px;
    padding: .5rem 0;
}

label {
    font-size: 18px;
}

input {
    padding: .3rem 1rem;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

button {
    width: 30%;
    font-size: 18px;
    padding: .5rem;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    background-color:  rgb(255, 255, 255);
}